/* Estilos contenedor del formulario */
#desglose {
    border-radius: 5px;
}

/* Detalles del formulario */
#id_tarea {
    float: right;
}

textarea {
    min-height: 40px;
    max-height: 200px;
}
