/* Estilos generales */
body {
    background-color: rgb(247, 253, 255);
}

/* Contenedor principal */
#general {
    display: block;
    margin: 10px auto;
    padding-top: 20px;
    padding-bottom: 30px;
    min-height: 500px;
    background-color: rgb(222, 231, 235);
    border: 1px solid rgb(195, 207, 212);
    border-radius: 10px;
}

/* Componentes del contenedor principal */
#titulo {
    margin: 5px 0px 30px;
}

.contenedor-data {
    background-color: rgb(250, 254, 255);
    border: 1px solid rgb(195, 207, 212);
}

.contenedor-data div {
    padding: 7px 10px;
}

/* Estilos de labels */
label {
    margin: 4px 0px;
}

.info {
    color: #33393f;
    font-style: italic;
}

.hint {
    color: #6c7986;
    font-style: italic;
    margin: 4px 0px 4px 10px;
    font-size: 12px;
}