/* Contenedor principal del listado */
#listado {
    max-height: 275px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

#listado::-webkit-scrollbar {
    display: none;
}

/* Entradas del listado */
#add {
    border-top: 1px solid #202020;
}

#listado .data, #add {
    padding-top: 6px;
    height: 50px;
    border-bottom: 1px solid #202020;
}

#listado > div:nth-child(even) {
    background-color: rgb(242, 248, 255);
}

#listado .data:hover {
    background-color: rgb(222, 228, 235);
}

#add button {
    float: right;
}

.data .btn-danger {
    position: absolute;
    right: 10px;
}

.datatxt {
    padding: 0px;
    margin: 0px;
    float: left;
    height: 32px;
    overflow: hidden;
}

/* Botón de ir al inicio de la lista */
#listUp {
    margin: 0px;
    background-color: rgb(175, 198, 207);
    border-left: 1px solid rgb(150, 170, 179);
    border-right: 1px solid rgb(150, 170, 179);
    border-bottom: 1px solid rgb(150, 170, 179);
    border-radius: 0px 0px 5px 5px;
}

#listUp:hover {
    background-color: rgb(159, 180, 189);
}

#listUp a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(108, 117, 125);
}

#listUp a:hover {
    text-decoration: none;
    color: rgb(95, 102, 109);
}
